<h1>Search Page</h1>
<hr>
<br>
<input type="text" placeholder="Inserisci Criterio Ricerca" [(ngModel)]="criterioRicerca">
<button (click)="cerca()">Cerca</button>
<button (click)="mainPage()">Main Page</button>
<br>
<br>
<table *ngIf="filtroProdotti.length>0">
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
    </tr>
    <tr *ngFor="let c of filtroProdotti, index as i">
        <td>{{c.codice}}</td>
        <td>{{c.descrizione}}</td>
        <td>{{c.prezzo}}</td>
        <td><button (click)="cancella(i)">X</button></td>
    </tr>
</table>
